.input-group {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.input-group input {
    font-size: 20px;
}
body {
    padding-top: 56px;
    background-image: url(../resources/background1.jpg);
}
  .carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .portfolio-item {
    margin-bottom: 30px;
  }
  h2{
    color: rgb(6, 86, 235);
    font-size: 4rem;
    padding: (2em, 2em, 2em, 2em);
  }
  .navbar-brand .img {
    height: 5rem;
    width: auto;
  }
  footer {
      height: 13rem;
  }